llvmlite==0.36.0
numpy==1.19.5
scipy~=1.6.3
numba==0.53.1
requests==2.25.1
colorama==0.4.4
pycallgraph==1.0.1
bcolors==1.0.2
bitarray==2.1.3
reedsolo==0.3
Pillow==9.0.0
matplotlib==3.4.2
pycryptodomex==3.10.1
pytest==6.2.4
bitstring==3.1.7
cycler==0.10.0
setuptools==57.0.0
#pybloomfiltermmap3==0.5.3 # comment for windows
pybloom3==0.0.3 # this is only needed for windows
pandas==1.2.4
progressbar2==3.53.1